@font-face {
  font-family: 'FiraSans';
  src: url('FiraSans/FiraSans/FiraSans-Regular.eot');
  src: url('FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('FiraSans/FiraSans-Regular.woff') format('woff'),
       url('FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('FiraSans/FiraSans-Light.eot');
  src: url('FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
       url('FiraSans/FiraSans-Light.woff') format('woff'),
       url('FiraSans/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('FiraSans/FiraSans-Medium.eot');
  src: url('FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('FiraSans/FiraSans-Medium.woff') format('woff'),
       url('FiraSans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src: url('FiraSans/FiraSans-Bold.eot');
  src: url('FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('FiraSans/FiraSans-Bold.woff') format('woff'),
       url('FiraSans/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

  * { font-family: 'FiraSans'; }
  
  body {
    font-family: FiraSans;
    font-size: 12pt;
    color: black;
    background-color: white }

  a:link {
    color: blue;
    text-decoration: none }

  a:active {
    color: blue;
    text-decoration: none }

  a:visited {
    color: blue;
    text-decoration: none }

  a:hover {
    color: blue;
    text-decoration: underline }

  .message {
    max-width: 700px;
    margin: 0 auto;
    font-family: FiraSans;
    font-size: 12pt;
    color: black;
    background-color: white }
    
  .message h1 {
    color: blue;
    font-size: 500%;
    margin-top: 100px;
    margin-bottom: 0px }
  
  .message table {
    margin: 0px;
    width: 100%;
    border: 0px }
    
  #search {
    padding-top: 20px;
    text-align: center }
